body{
    text-align: center;
}


#header {
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
    margin-bottom: 0px;
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  
#gridContainer {
    width: 550px;
    height: 550px;

    position: relative;
	padding: 10px;
	margin: auto;
}


#clearButton, #sizeButton {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: rgb(250, 245, 245);
    padding: 10px 20px;
    margin: 10px;
    box-shadow: -6px 6px;
    outline: none;
}

#clearButton:active, #sizeButton:active {
    box-shadow: 0px 0px;
    transform: translate(-6px, 6px);
}


.piece {

    float: left;
    outline: 1px solid;
}
